* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  touch-action: pan-y;
}
em,
i {
  font-style: normal;
}
img {
  vertical-align: top;
  width: 100%;
}
.all {
  max-width: 750px;
  margin: 0 auto;
  height: 26.3rem;
  overflow: hidden;
}
.all .wrapperOfDownload {
  position: relative;
  width: 100%;
  height: 1.9rem;
  background-color: #fff;
}
.all .wrapperOfDownload .download {
  display: block;
  width: 75%;
  position: absolute;
  animation-name: Zoom;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  top: -0.1rem;
  left: 12.5%;
}
.all .bg3 {
  height: 17.5rem;
  background-image: url(pit/bg-2300.png);
}
.all .carousel1 {
  position: relative;
  z-index: 2;
  max-width: 750px;
  height: 4.7rem;
  top: 0;
  /* .swiper-container .swiper-slide { */
}
.all .carousel1 .swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.all .carousel1 #s1 {
  width: 100%;
  height: 4.6rem;
  position: absolute;
  top: 0;
  left: 0;
}
.all .carousel1 #s1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 32%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: transparent;
}
.all .carousel1 #s1 .swiper-slide img {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.bg2 {
  width: 100%;
  max-width: 750px;
  position: relative;
}
.bg2 img {
  position: relative;
  top: 0;
}
.carousel2Wrapper {
  position: relative;
  max-width: 750px;
  top: -1.2rem;
}
.carousel2Wrapper .bg4 {
  position: relative;
  top: 1.8rem;
  top: 1.9rem;
  top: 0;
  top: 2.2rem;
  top: 2.5rem;
  left: -0.8rem;
  left: 5%;
  width: 90%;
}
.carousel2Wrapper .carousel2 {
  position: absolute;
  top: 1.5rem;
  left: 5%;
  width: 100%;
  width: 90%;
}
.carousel2Wrapper .carousel2 .swiper-container {
  width: 90%;
  height: auto;
  border: 2px solid #FDEE3F;
  border-radius: 10px;
}
@keyframes Zoom {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
html {
  font-size: 16px;
}
@media (min-width: 375px) and (max-width: 750px) {
  body {
    font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 375px) / (750 - 375)));
    color: blue;
  }
}
